*{
    margin: 0;
    padding: 0;
    
}
html, body{
    width: 100%;
    height:100%;
    font-family: Arial, Helvetica, sans-serif;
}

hr{
    margin:auto;
    width: 80%;
}
.header-container{
    position: relative;
    background-color: rgb(249, 235, 209);
    display: flex;
    height:100px;
    border-bottom: 2px solid orange;
}
.image-container{
    position: absolute;
    top: 15%;
    left:5%;
    width:60px;
    height:60px;   
}
.app-logo{
    width:60px;
    height:60px;
}
.nav-container{
    position:absolute;
    top:30%;
    right:10%;
    width:300px;
}
.nav-container>ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;

}
.nav-container>ul>.link{
    margin:10px;
}

.btn-container{
    width: 50px;
    position: absolute;
    top:34%;
    right:7%;
}
.btn{
    padding:5px;
    border:3px solid orange;
    border-radius: 10px;
    background-color: transparent;
}
.body{
    margin:auto;
    width:80%;
}
.res-card{
    width:200px;
    background-color: #faf1df;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
    transition:  width 300ms;
}
.res-card:hover{
    
    cursor: pointer;
    width: 202px;
    box-shadow: 10px 10px 10px #f4cb7f;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
}
.res-logo{
    width: 100%;
    border-radius: 10px;
    
}
.filter-btn{
    padding: 5px;
    margin:10px;
    border: 3px solid orange;
    border-radius: 10px;
    background-color: rgb(249, 235, 209);
}

.footer-container{
    background-color: black;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    height:100px;
    border-top: 5px solid orange;
}
.footer-container>ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin-top:20px;
    

}
.item-container{
    width:50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    border-radius: 10px;
}
.item-image{
    width:75px;
    height:75px;
    border-radius: 10px;
}